{% extends 'base.html' %}

{% block title %}
Photos
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<center>
    <h1> Photos! </h1>

    {% for pic in photos %}
    <div class="card w-50 h-50" style="width: 18rem;">
        <img class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;"src="http://localhost:8000/media/{{pic.imageUploaded}}" alt="http://localhost:8000/media/{{pic.imageUploaded}}">
        <div class="card-body">
          <h5 class="card-title d-inline-block">{{ pic.city }},</h5>
          <p class="card-subtitle d-inline-block">{{ pic.country}}</p>
          <!--a href="#" class="btn btn-primary">Go somewhere</a-->
          <br>
          <a href="#" class="btn btn-primary fa fa-thumbs-up"></a>
          <a href="#" class="btn btn-warning fa fa-thumbs-down"></a>
        </div>
      </div>
      <br>
    {% endfor %}

</center>

{% endblock %}